<div
  style="margin-top:50px;max-height:500px;overflow:auto;display:flex;width:90%;margin-left:auto;margin-right:auto;"
>
  <div id="table-scroll-employees" style="width:50%;overflow:hidden">
    <table class="table table-bordered">
      <thead style="position:sticky;background:blue;color:white;top:-1px">
        <tr>
          <th style="width:70%" scope="col">Structure</th>
          <th style="text-align:center;" scope="col">Count</th>
        </tr>
      </thead>
      <tbody>
        <tr
          style="background:rgba(0,0,0,.4)"
          *ngFor="let item of flatStructure"
        >
          <th
            style="font-weight:
            500;"
            [style.paddingLeft]="item.level * 20 + 10 + 'px'"
          >
            {{ item.label }}
          </th>
          <th style="font-weight:500;text-align:center;">{{ item.count }}</th>
        </tr>
      </tbody>
    </table>
  </div>
  <div
    id="table-scroll-tasks"
    style="width:50%;overflow:auto"
    (scroll)="scrollPos($event)"
  >
    <table class="table table-bordered" style="margin:0">
      <thead style="position:sticky;background:blue;color:white;top:-1px">
        <tr>
          <th
            scope="col"
            style="min-width:200px;text-align:center;"
            *ngFor="let item of structure.metricItems"
          >
            {{ item.label }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          style="background:rgba(0,0,0,.4)"
          *ngFor="let item of flatStructure"
        >
          <th
            style="font-weight:500;text-align:center;"
            [style.background]="item.isLeaf == true ? 'white' : ''"
            *ngFor="let metric of item.metrics"
          >
            {{ metric.value }}
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
